@import "tailwindcss";

@theme {
  --color-canvas-auth: oklab(0.32 0 -0.01);
  --color-input-auth: oklab(0 0 0 / 0.2);

  --color-border-input-normal-auth: oklab(0.68 0 -0.01 / 0.2);
  --color-border-input-select-auth: oklab(0.74 -0.02 -0.09);

  --color-blue-discord: #8DA1FC;
  --color-blue-discord-fill: #5865F2;

  --color-discord-bg: #121214;
  --color-discord-border-1: #232326;
  --color-discord-border-2: #28282c;
  --color-layout-bg: #1b1b1f;
  --color-btn-hover-1: #1c1c1f;
  --color-btn-select-1: #2d2d30;
  --color-btn-bg-1: #5765f2;
  --color-inpt-bg-1: #18181c;
  --color-inpt-border-1: #313136;
  --color-inpt-border-2: #5197ed;
  --color-list-border-3:#29292e;

  --color-btn-hover-2: #242428;
  --color-btn-select-2: #333338;

  --color-red-text:#f57976;
  --color-green-text:#52aa65;


  --color-server-btn-bg: #1d1d1e;
  --color-server-btn-hover: #5765f1;

  --color-user-bar: #202024;
  --color-user-bar-hover: #333338;
  --color-user-bar-border: #252529;
  --color-user-bar-text: #a4a4ac;
  --color-user-bar-red: #362228;
  --color-user-bar-redhover: #412025;
  --color-user-bar-def: #aaaab1;
  
  --color-tooltip-bg: #242429;
  --color-tooltip-border: #2e2e33;
  --color-tooltip-text: #eeeeef;
}
body{
  height: 100vh;
  width: 100vw;
}

@keyframes dialog-show {
  from {
    transform: translate(0, -10%);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dialog-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(0, -10%);
  }
}

@keyframes dropdown-show {
  from {
    transform: scale(0%);
    opacity: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes dropdown-hide {
  from {
    transform: scale(100%);
    opacity: 1;
  }
  to {
    transform: scale(0%);
    opacity: 0;
  }
  
}